.process {
  background-color: #f3f3f3;
  border-radius: 8px; 
  margin: 20px 15px;
  padding: 20px 5px;
}

@media only screen and (min-width: 800px) {
  .process {
    margin-left: auto;
    margin-right: auto;
    width: 810px;
  }
}