.image {
  width: 30px;
  height: 100%;
  padding: 4px;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

@media only screen and (min-width: 800px) {
  .image {
    margin-left: -10px;
  }
}