.flex-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.flex-item {
  padding-bottom: 15px;
}

.nav-brand {
  text-decoration: none;
  text-align: center;
  margin: 16px 16px 16px 32px;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-link {
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
  color: darkblue;
}

.slide-background-loaded.slide-background-fade-in {
  background-position: center !important;
}

.rm-hero-slider > div {
  top: 0;
  height: 50vh !important;
}

.site-contents {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (orientation:landscape) {
  .rm-hero-slider > div {
    height: 100vh !important;
  }
}

@media only screen and (min-width: 800px) {
  .rm-hero-slider > div {
    height: 100vh !important;
  }
  
  .site-contents {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
  }
}

html { 
  scroll-behavior: smooth
}
