.FlexContainer {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  list-style-type: none;
}

.NavBrand {
  text-decoration: none;
  text-align: center;
  margin: 16px;
}

.slide-background-loaded.slide-background-fade-in {
  background-position: center !important;
}

html { 
  scroll-behavior: smooth
}